/* Puts border around element */

.debug-black {
	border: 2px SOLID black;
	color: black;
}

.debug-red {
	border: 2px DASHED red;
	color: red;
}

.debug-blue {
	border: 2px DOTTED blue;
	color: blue;
}
